# Django Settings
DEBUG=True
DJANGO_SETTINGS_MODULE=auraspotmarketplace1.settings

# Security
JWT_SECRET_KEY=your_jwt_secret_key
DJANGO_SECRET_KEY=your_django_secret_key

# Database Configuration
DB_NAME=your_db_name
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_HOST=your_db_host
DB_PORT=5432
DB_SSLMODE=require

# Shippo Configuration
SHIPPO_API_KEY=your_shippo_api_key

# Email Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your_email@gmail.com
SMTP_PASSWORD=your_app_password
SMTP_FROM=your_email@gmail.com

# Base URL
BASE_URL=http://localhost:8000

